@import 'utility'
@import 'color'

$base-text-size: 12px
$base-font-family: sans-serif

html
  text-size-adjust: 100%
  height: 100vh

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  background-color: $mono-0
  color: $mono-3
  min-height: 100%
  user-select: none

canvas
  border: 2px solid $mono-1
