@import '../../styles/color'


$base-dot-size: 1em
$frame-width: 1.5em
$icon-drop-shadow: drop-shadow(0px 1px 0 lighten($mono-0, 10%))
$std-transistion: all 200ms ease

.layout
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-content: stretch

  > main
    flex: 1

  > .controls
    display: flex
    flex-direction: column
    background-color: $mono-1
    height: 20vh
    text-shadow: 0 1px 0 lighten($mono-0, 10%)

    header
      display: flex
      height: 1em
      line-height: 1em
      border-top: 1px solid lighten($mono-1, 10%)
      border-bottom: 1px solid darken($mono-1, 5%)

      .meta
        button
          padding: 0
          margin: 0 0.25em
          border: none
          background-color: transparent

          &:focus
            outline: none
          &:hover
            .icon
              filter: brightness(200%) $icon-drop-shadow

          &:active
            .icon
              filter: brightness(180%) drop-shadow(0px -1px 0 lighten($mono-0, 10%))


    ul
      flex: 1
      margin: 0
      padding-left: 0

.icon
  filter: brightness(180%) $icon-drop-shadow
  transition: $std-transistion

  &.enabled
    filter: brightness(180%) $icon-drop-shadow

  &.disabled
    opacity: 0.33

.meta
  flex: 0 0 30vw
  display: flex

  .name
    flex: 1
    padding-left: 0.5em
    overflow: hidden

  > div.toggle
    width: $frame-width
    display: flex
    justify-content: center
    align-items: center

$timeline-divider: lighten($mono-1, 5%)

.timeline
  display: flex
  justify-content: flex-start
  flex: 1
  background-image: repeating-linear-gradient(90deg, $timeline-divider, $timeline-divider 1px, transparent 1px, transparent 1.5em)

  > div
    flex: 0 0 $frame-width
    text-align: center

    span
      font-size: 0.8em

    &.current
      background-color: $mono-3
      color: $mono-0
      text-shadow: 0 1px 0 lighten($mono-3, 20%)

.layer
  display: flex
  height: 2em
  line-height: 2em
  border-top: 1px solid lighten($mono-1, 10%)
  border-bottom: 1px solid darken($mono-1, 10%)

$frame-divider: lighten($mono-1, 10%)

.frames
  background-image: repeating-linear-gradient(90deg, $frame-divider, $frame-divider 1px, transparent 1px, transparent 1.5em)
  height: $base-dot-size * 2
  position: relative
  flex: 1

  .frame
      position: absolute
      border-radius: $base-dot-size / 2
      margin-top: $base-dot-size / 2
      height: $base-dot-size
      background-color: $accent
      box-shadow: 0 2px 0 hsla($base-hue, 66%, 33%, 0.5)
